<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

        

   
    <title>@ViewBag.Title </title>
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("../css/Style.css")" rel="stylesheet" type="text/css" />

</head>
<body style="color: white; background-image: linear-gradient(#085467,#afa7bb,#fac0b3); background-repeat: no-repeat; background-attachment: fixed ">
 <div class="navbar navbar-justified navbar-fixed-top bg-info" >
     <div class="container-fluid " >
         <a class="navbar-brand m-3" href="#">
             <img src="~/Images/ensatTanger.png" width="35" height="35" alt="Ensa Tanger" />
         </a>
         <div class="navbar-header ">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             @Html.ActionLink("ENSA Tanger", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

         </div>
         <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
                 <li class="textnavbar">@Html.ActionLink("Accueil", "Index", "Home", new { @class = "brand" })</li>
             </ul>
             <div>
                 @Html.Partial("_LoginPartial")

             </div>
         </div>
     </div>
     </div>
 <div class="fixed-bottom">
     <div class="container body-content ">
         @RenderBody()
         <hr />
         <footer>
             <p class=" h4">&copy; @DateTime.Now.Year - ENSA Tanger</p>
         </footer>
     </div>
 </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>
