@model WebApplicationadmin2.Models.Eleve

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Eleve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Eleve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Eleve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
