@model WebApplicationadmin2.Models.Eleve

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center" style="margin:50px">Détails :</h1>
<table class="table h4">
    <tr >
        <td style="font-weight:bold">@Html.DisplayNameFor(model => model.ID_Eleve) </td>
        <td>: @Html.DisplayFor(model => model.ID_Eleve)</td>
    </tr>
    <tr>
        <td style="font-weight:bold">@Html.DisplayNameFor(model => model.CNE)</td>
        <td>: @Html.DisplayFor(model => model.CNE)</td>
    </tr>
    <tr>
        <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Nom)</td>
        <td>: @Html.DisplayFor(model => model.Nom)</td>
    </tr>
    <tr>
        <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Prenom)</td>
        <td>:  @Html.DisplayFor(model => model.Prenom)</td>
    </tr>
    <tr>
        <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Email)</tdstyle="font-weight:bold">
        <td>: @Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td style="font-weight:bold">@Html.DisplayNameFor(model => model.Tel)</td>
        <td>: @Html.DisplayFor(model => model.Tel)</td>
    </tr>
</table>
<p class="h4">
    @Html.ActionLink("Revenir à la liste des étudiants", "Index")
</p>
