@model IEnumerable<WebApplicationadmin2.Models.Eleve>

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center " style="margin: 50px">Gestion des etudiants de l'ENSA Tanger</h2>
@if (Request.IsAuthenticated)
{


    <table class="table">
        <tr class="h4">
            <th>
                @Html.DisplayNameFor(model => model.ID_Eleve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Eleve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Update", new { id = @item.ID_Eleve }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Détails", "Details", new { id = @item.ID_Eleve }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Supprimer", "DeleteStudent", new { id = @item.ID_Eleve }, new { @class = "btn btn-info", @onclick = "return confirm('Etes vous sûre de vouloir supprimer cet étudiant ?')" }) 
                </td>

            </tr>
        }


    </table>
   
    <p class="text-center" style="margin-top: 50px">
        @Html.ActionLink("Créer un nouvel étudiant", "Add", null, new { @class = "btn btn-info " })
    </p>
}
else
{
    <center>
        <form action="Home/IndexSearch">
            <div class="form-group p-3">
                <input type="text" class="form-control p-3" name="searchTerm" placeholder="Saisir l'étudiant à chercher !">
            </div>
            <button type="submit" class="btn btn-info btn-lg" style="margin-bottom:400px">Chercher</button>
        </form>
    </center>

}