@model WebApplicationadmin2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<center>
    <h1>@ViewBag.Title</h1>
    <div class="form">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group ">
            @Html.LabelFor(m => m.Email, new { @class = "col h4 text-left" })
            <div class="col">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col h4 text-left" })
            <div class="col">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col h4" })
            <div class="col">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <input type="submit" class="btn btn-info btn-lg" value="Register" />
            </div>
        </div>
    </div>
</center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
